vim/vim.dotfile/bundle
vim/vim.dotfile/.init.vim-rplugin~
tmux/tmux.dotfile/plugins
tags
TODO
dotfiles-export.tgz
sbt/sbt-plugins.dotfile/project
sbt/sbt-plugins.dotfile/target
sbt/sbt.dotfile/launchers
jupyter/jupyter.dotfile/migrated
jupyter/jupyter.dotfile/lab/workspaces/
fonts/fonts.dotfile/.uuid
