[submodule "vim/vim.dotfile/bundle/vundle"]
  path = vim/vim.dotfile/bundle/vundle
  url = https://github.com/gmarik/vundle.git
  ignore = untracked
[submodule "zsh/zprezto.dotfile"]
  path = zsh/zprezto.dotfile
  url = https://github.com/sorin-ionescu/prezto.git
[submodule "zsh/zsh.dotfile/z"]
  path = zsh/zsh.dotfile/z
  url = https://github.com/rupa/z.git
[submodule "zsh/scm_breeze.dotfile"]
	path = zsh/scm_breeze.dotfile
	url = git://github.com/ndbroadbent/scm_breeze.git
[submodule "rbenv/rbenv.dotfile"]
	path = rbenv/rbenv.dotfile
	url = git@github.com:sstephenson/rbenv.git
