[user]
  name = Andreas Launila
  email = {{ .email | quote }}
[color]
  ui = true
[push]
  default = tracking
[core]
  editor = nvim
[merge]
  conflictstyle = diff3
  tool = meld
[url "git@github.com:"]
  insteadOf = https://github.com/
[init]
  defaultBranch = main
