[user]
  name = Andreas Launila
  email = {{ .email | quote }}
[color]
  ui = true
[push]
  default = tracking
  autoSetupRemote = true
[core]
  editor = nvim
[merge]
  conflictstyle = zdiff3
  tool = meld
[url "https://github.com/"]
  insteadOf = git@github.com:
[credential "https://github.com"]
  helper = !gh auth git-credential
[init]
  defaultBranch = main
[apply]
  whitespace = fix
[color "diff"]
  whitespace = red reverse
[diff]
  colorMovedWS = allow-indentation-change
[pull]
  ff = only
