[user]
  name = Andreas Launila
  email = {{ .email | quote }}
[color]
  ui = true
[push]
  default = tracking
[core]
  editor = nvim
[merge]
  conflictstyle = zdiff3
  tool = meld
[url "git@github.com:"]
  insteadOf = https://github.com/
[init]
  defaultBranch = main
[apply]
  whitespace = fix
[color "diff"]
  whitespace = red reverse
[diff]
  colorMovedWS = allow-indentation-change
[pull]
  ff = only
